In [0]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
full_labels = pd.read_csv('/content/drive/My Drive/Colab Notebooks/dataset/apple_labels.csv')

In [4]:
full_labels.head()

        filename  width  height  class  xmin  ymin  xmax  ymax
0  apple_015.jpg   4000    3000  apple   954   559  2440  1830
1   apple_06.jpg   4000    3000  apple  1506   621  2778  2201
2  apple_114.jpg    300     450  apple    53    42   213   211
3  apple_114.jpg    300     450  apple   109   257   262   414
4   apple_01.jpg   1941    2595  apple   196   587  1792  2015

In [0]:
grouped = full_labels.groupby('filename')

In [6]:
grouped.apply(lambda x: len(x)).value_counts()

1    70
2    12
3     9
4     1
dtype: int64

### split each file into a group in a list

In [0]:
gb = full_labels.groupby('filename')

In [0]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [9]:
len(grouped_list)

92

In [0]:
train_index = np.random.choice(len(grouped_list), size=80, replace=False)
test_index = np.setdiff1d(list(range(92)), train_index)

In [11]:
len(train_index), len(test_index)

(80, 12)

In [0]:
# take first 92 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [15]:
len(train), len(test)

(110, 15)

In [0]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)